<footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="footer_top-flex">
                    <div class="footer_who-we-are">
                        <p class="title">Who we are</p>
                        <img class="logo" src="img/logo2.gif" alt="logotype">
                        <p class="text">Magnis modipsae voloratati andigen daepeditem quiate re porem que aut
                            labor.
                            Laceaque eictemperum quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
                        <span class="subtitle">More about us</span>
                    </div>
                    <div class="footer_latest-works">
                        <p class="title">Latest works</p>
                        <div class="images"><img src="img/pic1.gif" alt="latest-works">
                            <img src="img/pic2.gif" alt="latest-works">
                            <img src="img/pic3.gif" alt="latest-works">
                            <img src="img/pic4.gif" alt="latest-works">
                            <img src="img/pic1.gif" alt="latest-works">
                            <img src="img/pic2.gif" alt="latest-works">
                            <img src="img/pic3.gif" alt="latest-works">
                            <img src="img/pic4.gif" alt="latest-works"></div>
                    </div>

                    <div class="footer_get-in-touch">
                        <p class="title">Get in touch</p>
                        <p class="text">Doloreiur quia commolu ptatemp dolupta oreprerum tibusam eumenis et consent
                            accullignis dentibea autem inisita.</p>
                        <span class="contact__address">84 Street, City, State 24813</span><br />
                        <span class="contact__phone">&#43;00&#40;123&#41; 456 78 90</span><br />
                        <span class="contact__mail">info&#64;reen.com</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="container">
                <div class="footer_bottom-flex">
                    <div class="text">&#169; 2014 REEN. All rights reserved.</div>
                    <div class="nav">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Portfolio</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>